{% extends 'base.html.twig' %}


{% block body %}
<div>
	{# <img src={{asset('images/background.jpg')}} width="100%"> #}
	<h1>Bienvenue dans la section commentaires</h1>

	<p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis consequuntur obcaecati dicta. Adipisci numquam perferendis illum vitae, porro deserunt sint assumenda nemo ut rem dolores, odit quidem reiciendis sed tempore sunt esse quo explicabo sit impedit dignissimos error iusto obcaecati?</p>
</div {% endblock %}
